<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whut.springbear.gather.mapper.PeopleMapper">
    <!-- int updatePeople(People people); -->
    <update id="updatePeople" parameterType="people">
        update t_people
        <set>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>