<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.whut.springbear.gather.mapper.UploadMapper">
    <!-- int updateUpload(Upload upload); -->
    <update id="updateUpload" parameterType="upload">
        update t_upload
        <set>
            <if test="uploadStatus != null">
                upload_status = #{uploadStatus},
            </if>
            <if test="uploadDatetime != null">
                upload_datetime = #{uploadDatetime},
            </if>
            <if test="localHealthUrl != null">
                local_health_url = #{localHealthUrl},
            </if>
            <if test="localScheduleUrl != null">
                local_schedule_url = #{localScheduleUrl},
            </if>
            <if test="localClosedUrl != null">
                local_closed_url = #{localClosedUrl},
            </if>
            <if test="cloudHealthUrl != null">
                cloud_health_url = #{cloudHealthUrl},
            </if>
            <if test="cloudScheduleUrl != null">
                cloud_schedule_url = #{cloudScheduleUrl},
            </if>
            <if test="cloudClosedUrl != null">
                cloud_closed_url = #{cloudClosedUrl},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
        </set>
        where user_id = #{userId} and DATE_FORMAT(upload_datetime,'%Y-%m-%d') = #{uploadDatetime,jdbcType=DATE}
    </update>
</mapper>