<!doctype html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="管理员查看记录">
    <meta name="author" content="Spring-_-Bear">
    <link rel="icon" th:href="@{/static/img/WHUT.png}">

    <title>上传记录 - 两码一查</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link th:href="@{/static/css/ie10-viewport-bug-workaround.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/static/css/dashboard.css}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script charset="UTF-8" th:src="@{/static/js/html5shiv.min.js}"></script>
    <script charset="UTF-8" th:src="@{/static/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<!-- 通知消息模态框 -->
<div class="modal fade" id="div-notice-modal" tabindex="-1" role="dialog" aria-labelledby="modal-notice" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h5 class="modal-title" id="h-notice-content"></h5>
        </div>
    </div>
</div>

<!-- 顶部标题导航栏 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- LOGO -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/admin/home}">两码一查</a>
        </div>
        <!-- 菜单项 -->
        <div id="navbar" class="navbar-collapse collapse text-center">
            <!-- 主页 -->
            <ul class="nav navbar-nav navbar-left">
                <li class="text-center"><a th:href="@{/admin/home}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
            </ul>
            <!-- 近 5 天历史记录 -->
            <ul class="nav navbar-nav navbar-left nav-history-view"></ul>
            <!-- 退出 -->
            <ul class="nav navbar-nav navbar-right">
                <li class="text-center"><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- 主体容器 -->
<div class="container-fluid">
    <div class="row">
        <!-- PC 端左侧导航栏 -->
        <div class="col-sm-3 col-md-2 sidebar">
            <!-- 左侧导航栏，可查看最近一周的记录 -->
            <ul class="nav nav-sidebar left-history-view">
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!-- 未上传人员名单、表格 -->
            <div class="row placeholders container-record-list"></div>
            <!-- 所有人两码一查图片预览 -->
            <div class="container-image-preview text-center"></div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script charset="UTF-8" th:src="@{/static/js/jquery-1.12.4.min.js}"></script>
<script>window.jQuery || document.write('<script charset="UTF-8" th:src="@{/static/js/jquery.min.js"><\/script>')</script>
<script charset="UTF-8" th:src="@{/static/js/bootstrap.min.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script charset="UTF-8" th:src="@{/static/js/ie10-viewport-bug-workaround.js}"></script>

<!-- 自定义 JavaScript -->
<script charset="UTF-8" th:src="@{/static/js/record.js}"></script>

</body>
</html>
